*(Autosaved)*
*.cache
*~
*.log
*.orig
*.status
*DS_Store*
*deps/*.*o
compat/*deps/*.*o
compat/Makefile
conf*/*.awk
confdefs.h
examples/*/*deps/*.*o
examples/*/*/*deps/*.*o
examples/*/*/*/*deps/*.*o
examples/Makefile
examples/*/Makefile
include/Makefile
include/config.h
include/stamp-*
tests/*deps/*.*o
tests/Makefile
libtool
Makefile
CoreFoundation.pc
*.o
*.lo
*.la
*.a
